.userTop{background: #F7F0F0;background-size:cover;padding-bottom: .0rem}
.userTopInfo{padding:1rem .5rem}
.userTop .userAvatar{border-radius: 100%;border: .05rem solid #fff;margin-right: .5rem}
.userTop .userAvatar a{}
.userTop .userAvatar img{width: 2.5rem;height: 2.5rem;border-radius: 100%;/*border: .2rem solid #E0001B*/}
.userInfo{overflow: hidden;color: #fff;margin-top: .2rem;}
.userInfo .name{font-size: .7rem;margin-bottom: .2rem;}
.userInfo .price{font-size: .6rem}
.userInfo .price i{display: inline-block;width: 1rem;height: 1rem;vertical-align: middle;margin-right: .2rem;background: url("../images/ic_more_credit.png") no-repeat;background-size: cover;}
.userInfo .price span:nth-child(2){margin: 0 .5rem}
.userInfo .price small{background: #fff;display: inline-block;font-size: .5rem;padding: .0rem .5rem;border-radius: .05rem;color: #E0001B}
.dTab .hd ul{-webkit-box-orient: horizontal;-moz-box-orient: horizontal;box-orient: horizontal;display: -webkit-box;display: -moz-box;display: box;}
.dTab .hd ul li{-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;text-align: center}
.dTab .hd ul li a{font-size: .6rem;color: #5E5E5E;display: block;}

 .userTab >.hd{ border-top: 1px solid #ddd;}
.userTab >.hd ul{background: #efefef;}
.userTab>.hd{line-height: 1.5rem}
.userTab>.hd ul li{background: #ddd}
.userTab>.hd ul li.on{background: #EF7F5A;}
.userTab>.hd ul li.on a{color:#fff}

.userTab>.hd ul li a{color: #333;padding: .2rem 0}
.userTab>.bd{background: #f0eff5;}
.userTab>.bd .group{margin: .5rem 0;}
.userTab>.bd .cell{ background-color: #fff;border-bottom: 1px solid #f3f3f3;border-top: 1px solid #f3f3f3;overflow: hidden;margin-top: -1px;padding: .3rem .5rem .3rem 1rem;}
.userTab>.bd .cell>a {display: block;padding: .2rem 0;}
.userTab>.bd .cell span{font-size: .6rem}
.userTab>.bd .cell span i.icon{display: inline-block;width: 1rem;height: 1rem;margin-right: .2rem}
.userTab>.bd .cell span i.icon img{width: 100%}
.userTab>.bd .cell .arrow{ float: right; background: url("../images/ic_chevron_dark.png") no-repeat; background-size: cover; width: 0.3rem; height: .45rem; margin-top: .3rem;}
.userTab>.bd .cell .num{display: inline-block;border-radius: 1rem;border: 1px solid #E0001B;float: right;font-size: .6rem;padding: 0 .4rem;margin-right: .5rem;}

.userTab>.bd .promotion-group .cell:nth-child(4n) { margin-bottom: .5rem; }

.userTabTop{overflow: hidden;width: 100%;}
.userTabTop>ul{-webkit-box-orient: horizontal;-moz-box-orient: horizontal;box-orient: horizontal;display: -webkit-box;display: -moz-box;display: box;}
.userTabTop>ul li{-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;text-align: center}
.userTabTop{line-height: 1.5rem;}
.userTabTop ul{}
.userTabTop ul li{background: rgba(182,46,48,.2);}
.userTabTop ul li a{border-bottom: 2px solid rgba(182,46,48,.2)}
.userTabTop>ul li:first-child a{}
.userTabTop>ul li.on a{border-color: #FFA96F}
.userTab>.hd ul li a{color: #fff;padding: .2rem 0}
.userTabTop ul li a {color: #fff;padding: .2rem 0;}
.userTabTop ul li a {font-size: .6rem; display: block; }
.dTab .userTabTop ul li a { color: #fff; }	/* reset color */

.orderNav{background: #fff;text-align: center;border-bottom: 1px solid #f3f3f3}
.orderNav ul li{padding: .5rem 0}
.orderNav ul li a{font-size: .6rem;color: #333;display: block;border-right: .05rem solid #E9E9E9;padding: 0rem .5rem}
.orderNav ul li a i{display: block;margin-bottom: .25rem}
.orderNav ul li a i img{height: 1.5rem}
.orderNav ul li:last-child a{border-right: 0}
.userBtn{padding: 0 .5rem;margin-bottom: .5rem}
.userBtn button{width: 100%;background: #D94553;color: #fff;padding: .2rem 0;font-size: .7rem;border-radius: .2rem}
.teamTab .hd{border-bottom: .05rem solid #E8E8E8;margin: 0 .5rem}
.teamTab .hd ul li{border-bottom: .05rem solid #F0EFF5}
.teamTab .hd ul li a{padding: .5rem 0}
.teamTab .hd ul li.on{border-bottom-color: #D83547}
.teamTab .bd{}
.teamTab .bd .cell{background: #fff;padding:.5rem .5rem;margin: .5rem 0}
.teamTab .bd .cell h3{font-size: .7rem;font-weight: normal}
.teamTab .bd .cell .time{padding: .2rem 0}
.teamTab .bd .cell .time,.teamTab .bd .cell p{display: block;font-size: .6rem}
.teamTab .bd .cell p span:first-child{margin-right: .5rem}
.spread{background: #ddd}
.spreadWarp{padding: .5rem;}
.spread .spread-box,.spread .spread-url{background: #fff;border-radius: 0.25rem;border: .05px solid #BCBCBC;padding: .5rem}
.spread .spread-box h3,.spread .spread-url h3{font-size: .7rem;font-weight: normal;padding-bottom: .2rem}
.spread .spread-box p{font-size: .6rem}
.spread .spread-box .userAvatar{border-radius: 100%;margin-right: .5rem;margin-top: .2rem;}
.spread .spread-box .userAvatar img{width: 3rem;height: 3rem;border-radius: .25rem}
.spread .spread-box .userAvatar .userInfo{color: #383838}
.spread .spread-box .userAvatar .userInfo h3{font-size: 0.7rem;font-weight: normal;padding-bottom: .2rem}
.spread .spread-box .userAvatar .userInfo .num{font-size: .6rem}
.spread .spread-box .spread-form{margin-top: .5rem;}
.spread .spread-box .spread-form input{border: .05rem solid #D7D7D7;box-shadow: 0 2px 5px #ddd inset;border-radius: 0.25rem;padding: .4rem .8rem;width: 100%;}
.spread-btn{margin: .2rem 0}
.spread-btn button{background: #3BAEDA;border-radius: .25rem;color: #fff;font-size: .6rem;padding: .5rem 1.5rem;margin: .5rem 0;margin-bottom: 0;}
.spread-url{margin-top: .5rem}
.spread-url p{font-size: .6rem;color: #aaa}
.spread-url .urlAdd{border: .05rem dashed #ddd;color: #444;padding: .5rem;width: 100%;margin-top: .25rem}
.card{text-align: center;padding-bottom: 1rem;}
.card-avatar{text-align: center}
.card-avatar img{width: 8rem}
.card h3{padding: .4rem 0}
.card h3,.card p{font-size: .7rem;font-weight: normal}
.card h3 em,.card p em{color: #D14719}
.card-qrcode{background:#D14719;text-align: center;color: #fff}
.card-qrcode small{display: block;font-size: .5rem;color: #fff;text-align: left;padding: .5rem 1rem}
.card-qrcode img{width: 8rem}
.card-qrcode h2{font-weight: normal;font-size: .8rem;padding-bottom: .5rem;}
.card-qrcode p{font-size: .7rem;padding: .5rem 0}
.price .table{padding: 0 .5rem;margin-top: .5rem;}
.price .table table th{font-size: .7rem;padding: .3rem 0;}
.price .table table td{font-size: .6rem;padding: .2rem 0}
.price .table table td,.price .table table th{border: 1px solid #DBDBDB;text-align: center;font-weight: normal}
.teamInfo{padding: 0 .5rem}
.teamInfo .row{margin: .5rem 0}
.teamInfo .row h3{font-size: .7rem;font-weight: normal;padding-bottom: .25rem}
.teamInfo .userAvatar{margin-right: .5rem;margin-top: .2rem;position: relative;width: 5rem;overflow:hidden}
.teamInfo .userAvatar img{width: 5rem;height: 5rem;border-radius: .25rem}
.teamInfo .userAvatar .addFile{position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0}
.teamInfo .textInfo{font-size: .6rem;overflow: hidden;padding-top: 2.5rem;}
.teamInfo .setInfo{}
.teamInfo .setInfo .borderPut{}
.teamInfo .setInfo .borderPut input,.teamInfo .setInfo .borderPut textarea{width: 100%;box-shadow: 0 2px 5px #ddd inset;border: .05rem solid #B3B8C3;border-radius: .25rem;padding: .2rem .5rem;}
.teamInfo .setInfo .borderPut textarea{height: 5rem}
.teamRank{}
.teamRank .hd{background: #F5F5F5;border-bottom: .05rem solid #DBDBDB}
.teamRank .hd ul li{padding: .3rem 0}
.teamRank .hd ul li:first-child a{border-right: 1px solid #DCDCDC}
.teamRank .hd ul li a{padding: .2rem 0}
.teamRank .hd ul li.on a{color: #FE0001}
.teamRank .bd{}
.teamRank .bd .cell{padding: .5rem 0;background: #fff;border-top: .05rem solid #EBEBEB;}
.teamRank .bd .cell:first-child{margin-top: -.05rem}
.teamRank .userAvatar{margin-right: .5rem;border-radius: 100%;position: relative;overflow: hidden;margin-left: 2.5rem}
.teamRank .userAvatar img{width: 3rem;height: 3rem;border-radius: .25rem;border-radius: 100%}
.teamRank .rankInfo{overflow: hidden;margin-right: .5rem;margin-top: .7rem;}
.teamRank .rankInfo p{overflow: hidden;padding-bottom: .25rem}
.teamRank .rankInfo p span{color: #444;font-size: .6rem}
.teamRank .rankInfo p span:first-child{color: #FE0000;font-size: 0.6rem}
.teamRank .rankInfo .rankPut{width: 100%;height: .25rem;background: #BEBCAD;border-radius: 1rem}
.teamRank .rankInfo .rankPut span{display: block;width: 50%;border-radius: 1rem;height: .25rem;background: #FD1E1E}
.teamRank .cell{position: relative}
.teamRank .cell .num{position: absolute;color: #444;font-size: .6rem;top: 1.5rem;left: .8rem;}
.explain{margin-bottom: .5rem}
.userTab>.bd .likeSome{padding: 0}
.likeSome .hd{border-bottom: .05rem solid #dad9de; background-color: #fff;}
.likeSome .hd ul li{padding: 0}
.likeSome .hd ul li:first-child{border-right: .05rem solid #DAD9DE}
.likeSome .hd ul li a{padding: .4rem 0;border-bottom: .1rem solid #fff}
.likeSome .hd ul li.on a{border-color:#FD1E1E}
.likeSome .bd{}
.likeSome .bd .row .cell{}
.bd .row .cell .proImg{border-radius: .05rem;overflow: hidden;margin-right: .5rem}
.bd .row .cell .proImg img{border-radius: .05rem;width: 2.5rem;height: 2.5rem}
.bd .row .cell .detailInfo{overflow: hidden;margin-top: .4rem;}
.bd .row .cell .detailInfo h3{font-size: .7rem;font-weight: normal}
.bd .row .cell .detailInfo p{color:#B2B1B6;font-size: .6rem}
.userTab .likeSome .bd .cell .arrow{margin-top: .7rem}

/***董林20160225***/
.userTab>.bd .group{background: none}
.gCell{margin-bottom: .5rem;background: #fff}
.gCell h3{font-size: .7rem;font-weight: normal;padding:.5rem 0 .5rem 0;padding-left: .5rem}
.gCell ul{border-top: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3}
.gCell ul li{width: 4rem;float: left;text-align: center;padding: .8rem 0;border-right: 1px solid #e2e2e2;margin-right: -1px;border-top: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;margin-top: -1px;margin-bottom: -1px}
.gCell ul li i{display: block;margin-bottom: .2rem}
.gCell ul li i img{width: 1.5rem;height: 1.5rem}
.gCell ul li p{font-size: .6rem;white-space: nowrap}
.prizeMoney .topInfo{background: #fff}
.prizeMoney .topInfo,.prizeMoney .topInfo ul {border-bottom: 1px solid #e3e3e3}
.prizeMoney .topInfo ul li{padding: .5rem 0 .5rem 1rem }
.prizeMoney .topInfo ul li:first-child{border-right: 1px solid #e3e3e3}
.prizeMoney .topInfo ul li .category{font-size: .7rem;color: #999}
.prizeMoney .topInfo ul li .money{font-size: 1.5rem;color: #3399ff}
.prizeMoney .topInfo ul li .money i{font-size: .6rem}
.prizeMoney .topInfo .total{font-size: .6rem;color: #999;padding: .5rem 0}
.prizeMoney .topInfo .total p{margin-left: 1rem}
.prizeMoney .topInfo .total span{color: #3399ff;font-size: .75rem}
.prizeMoney .topInfo .total .cash{font-size: .6rem;color: #fff;background: #3399ff;padding: .2rem .5rem;border-radius: .25rem;margin-right: 1rem}
.prizeMoney .detailInfo{background: #fff; margin-top: .5rem;}
.prizeMoney .detailInfo .hd{border-top: 1px solid #e3e3e3}
.prizeMoney .detailInfo .hd ul li{font-size: .6rem;color: #333;padding: .5rem 0;background: #E6E6E6}
.prizeMoney .detailInfo .hd ul li.on{background: #fff}
.prizeMoney .detailInfo .bd {padding: 0 .5rem}
.prizeMoney .detailInfo table{text-align: center;font-size: .6rem;color: #999}
.prizeMoney .detailInfo table th{border-bottom: 1px solid #e3e3e3;text-align:center;font-weight: normal;}
.prizeMoney .detailInfo table td{border-bottom: 1px solid #e3e3e3}
.prizeMoney .detailInfo table td,.prizeMoney .detailInfo table th{padding: .4rem 0}
.prizeMoney .detailInfo .green{color: #6c3}
.prizeMoney .detailInfo .red{color: #f66}
.prizeMoney .detailInfo .black{color: #333}
.prizeMoney .detailInfo .rule{padding-bottom: 1rem}
.prizeMoney .detailInfo .rule h2{font-size: .7rem;color: #f66;font-weight: normal;padding-top: .5rem}
.prizeMoney .detailInfo .rule .cell{padding-top: .4rem}
.prizeMoney .detailInfo .rule .cell h3{font-size: .6rem;color: #666;font-weight: normal}
.prizeMoney .detailInfo .rule .cell p{font-size: .6rem;color: #666;padding-top: .2rem;padding-left: .5rem}
/***董林20160226 end***/
