@font-face {
	font-family: icomoon;
	src: url(icomoon.eot) ;
	src: url(../icomoon.eot?#iefix) format('embedded-opentype'), url(../icomoon.woff) format('woff'), url(../icomoon.ttf) format('truetype'), url(../icomoon.svg?#icomoon) format('svg');
	font-weight: 400;
	font-style: normal
}
[class^=icon-], [class*=" icon-"] {
font-family:icomoon;
speak:none;
font-style:normal;
font-weight:400;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale
}
.icon-coupon:before {
	content: "\e620"
}
.icon-pay:before {
	content: "\e61e"
}
.icon-trash:before {
	content: "\e601"
}
.icon-compose:before {
	content: "\e60a"
}
.icon-cart:before {
	content: "\e600"
}
.icon-sound-alt:before {
	content: "\e608"
}
.icon-refund:before {
	content: "\e61f"
}
.icon-money:before {
	content: "\e614"
}
.icon-location:before {
	content: "\e61a"
}
.icon-phone:before {
	content: "\e61c"
}
.icon-clock:before {
	content: "\e609"
}
.icon-coordinate:before {
	content: "\e602"
}
.icon-menu:before {
	content: "\e61d"
}
.icon-magnify:before {
	content: "\e619"
}
.icon-checkbox-checked:before {
	content: "\e612"
}
.icon-checkbox-unchecked:before {
	content: "\e613"
}
.icon-radio-checked:before {
	content: "\e605"
}
.icon-radio-unchecked:before {
	content: "\e606"
}
.icon-close:before {
	content: "\e61b"
}
.icon-user:before {
	content: "\e603"
}
.icon-checkmark:before {
	content: "\e60b"
}
.icon-minus:before {
	content: "\e604"
}
.icon-plus:before {
	content: "\e611"
}
.icon-arrow-down:before {
	content: "\e60c"
}
.icon-arrow-up:before {
	content: "\e607"
}
.icon-arrow-left1:before {
	content: "\e60d"
}
.icon-arrow-down1:before {
	content: "\e60e"
}
li.on .icon-arrow-down1:before {
	content: "\e615";
	
}
.icon-arrow-right1:before {
	content: "\e616"
}
.icon-arrow-left2:before {
	content: "\e60f"
}
.icon-arrow-down2:before {
	content: "\e610"
}
.icon-arrow-up2:before {
	content: "\e617"
}
.icon-arrow-right2:before {
	content: "\e618"
}
.icon-refresh-image {
	width: 22px;
	height: 22px;
	background-image: url("../images/map/refresh.png");
	background-size: 100% 100%;
	position: absolute;
    right: 18px;
    top: 12px;
}