/* * 所有商品列表页 * Author Cloud * CreateDate 2014-05-20 * Copyright:1997-2014 Netease Inc. All rights reserved. */
.m-list {
}

.m-list-mod {
    margin-bottom: 10px;
}

.m-list-allType .m-list-mod-hd a {
    color: #3c3c3c;
    font-size: 18px;
    font-weight: bold;
    font-family: "Microsoft Yahei";
}

.m-list-allType {
    font-family: "Microsoft Yahei";
}

.m-list-allType .m-list-mod-hd {
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

.m-list-allType .m-list-mod-hd a {
    font-size: 16px;
}

.m-list-allType h3 {
}

.m-list-allType h3 .extra {
    color: #808080;
    font-size: 12px;
    font-weight: normal;
}

.m-list-allType h3 .count {
    font-size: 14px;
}

.m-list-allType a {
    text-decoration: none;
}

.m-list-allType a:hover {
    color: #db3652;
}

.m-list-allType .m-list-mod-bd {
    padding-top: 20px;
    /*height: 100px;*/
    border: 1px solid #ddd;
    border-top: 0;
}

.m-list-allType-list li {
    float: left;
    border-right: 1px solid #ddd;
    margin-bottom: 20px;
}

.m-list-allType-list li:nth-child(8n) {
    border-right: none;
}

.m-list-allType-list li.last {
    border: 0;
}

.m-list-allType-list a {
    display: block;
    width: 148px;
    height: 85px;
    text-align: center;
}

.m-list-allType-list .name {
    font-size: 14px;
    line-height: 14px;
    color: #3d3d3d;
    font-weight: normal;
}

.m-list-allType-list a:hover .name {
    color: #db3652;
}

.m-list-allType-list .selected .name {
    color: #db3651 !important;
    font-weight: bold;
}

.m-list-allType-list .icon {
    margin: 0 auto 10px;
    display: block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: relative;
}

.m-list-allType-list .ico-type {
    position: absolute;
    left: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

.m-list-allType-list .first {
    top: 0;
}

.m-list-allType-list .second {
    top: 60px;
}

.m-list-allType-list a:hover .first {
    top: -60px;
}

.m-list-allType-list a:hover .second {
    top: 0px;
}

.m-list-goodsList .m-list-mod-hd {
    padding: 10px;
    height: 27px;
    background-color: #f5f5f5;
    border-top: 2px solid #888;
    position: relative;
}

.m-list-goodsList .m-list-mod-bd {
    padding-top: 20px;
}

.m-list-goodsList h6 {
    float: left;
    width: 40px;
    line-height: 27px;
}

.m-list-sortList li {
    float: left;
    margin-right: 10px;
}

.m-list-sortList a {
    display: block;
    padding: 7px 0;
    width: 68px;
    height: 12px;
    line-height: 12px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #fff;
    color: #7f7f7f;
}

.m-list-sortList a:hover {
    text-decoration: none;
    color: #db3651;
}

.m-list-sortList .selected a {
    background-color: #db3651;
    border-color: #db3651;
    color: #fff !important;
}

.m-list-sortList .ico-arrow-sort {
    margin-top: -2px;
}

.m-list-sortList a:hover .ico-arrow-sort-gray-up {
    background-position: -100px -160px;
}

.m-list-sortList a:hover .ico-arrow-sort-gray-down {
    background-position: -110px -160px;
}

.m-list-sortList .selected .ico-arrow-sort-gray-up {
    background-position: -60px -160px !important;
}

.m-list-sortList .selected .ico-arrow-sort-gray-down {
    background-position: -70px -160px !important;
}

.m-list-pager {
    margin-bottom: 10px;
    text-align: right;
}

#buyAll {
    position: absolute;
    right: 10px;
    top: 8px;
}

.w-goods-ing .w-goods-pic img {
    display: block;
}