/**publicsh time 2014-06-30 **/
/*公共样式*/
body{min-width: auto!important}
.z_container { width: 100%; margin: 0 auto; }
body.page-header { background: #f3f3f3; }
.mt20 { margin-top: 20px; }
textarea { resize: none; overflow: auto; }

/*订单页公共样式*/
.order_process { border: 1px solid #e9e5e6; height: 37px; line-height: 37px; background: #f4f4f4; font-family: 'microsoft yahei'; font-size: 14px; width: 1000px;; }
.order_process ul { position: relative;; height: 37px; overflow: hidden; float: left; width: 100%; }
.order_process li { width: 25%; position: relative; text-align: center; float: left; z-index: 0; }
.order_process li.active { background: #fda6a3; color: #fff; }
.order_process li.active .order_ahead_arrow { background-position: top; }
.order_process li.active .order_behind_arrow { background-position: bottom; left: -19px; }
.order_process li .order_arrow { width: 19px; height: 37px; display: block; position: absolute; top: 0; right: -17px; background: url(../../images/product/order_arrow.png) 0 -40px no-repeat; z-index: 0; }

.module_wrap {
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    }
.common_tit { height: 59px; line-height: 59px; background: #fafafa; border-bottom: 1px solid #dedbdb; }
.common_tit .common_tit_name { font-size: 22px; font-family: 'microsoft yahei'; padding: 0 20px; font-weight: normal; color: #444; }
.module_con { color: #666; }
.module_con dl { padding: 5px 0 5px 100px; line-height: 24px; margin: 0 20px;min-height: 24px;_height:24px; }
.module_con dl dt { margin-left: -100px; float: left; width: 90px; text-align: right; color: #333; font-weight: bold; _display: inline; }
.module_item { border-bottom: 1px dashed #e3e3e3; padding: 10px 0; }
.risk_tips { margin: 24px 40px; border: 1px solid #edd28b; padding: 20px; background: #fffdee;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    }
.risk_tips p { line-height: 18px; margin-top: 10px; }
.common_button { text-align: center; padding: 24px 0; }
.common_button button { width: 100px; height: 38px; font-size: 16px; font-family: "Microsoft Yahei"; background: #ff6559; text-decoration: none; border-radius: 4px; line-height: 38px; text-align: center; display: inline-block; color: #FFF; cursor:pointer;}

/*增加猜你喜欢*/
.f-Arial{ font-family: "Arial"}
.f-bold{ font-weight: bold;}
.f-font14{ font-size: 14px;}
.fav{ background: #ebecec; padding:20px 0; margin-top: 30px;}
.fav-inner{ width: 1000px; margin:10px auto 0; }
.fav-tit{overflow: hidden;}
.fav-tit h3{ float: left; font-weight: normal; font-size: 18px; color: #333;padding-left: 26px; background: url("i/fav.png") 2px 4px no-repeat;}

.fav-tit a{ float: right;line-height: 20px; color: #5e5e5e; text-decoration: none; background: url("i/change.png") left top no-repeat; padding-left: 20px; padding-right: 5px;}
.fav-tit a:hover{ color: #005ea7;}

.query-result-outer{ margin-left: -19px;padding-top: 20px; +width: 1040px!important;}
.query-result-list{ margin-left: 19px;_display:inline;float:left;width: 235px; height: 390px; margin-bottom: 20px; overflow: hidden;background: #fff; box-shadow: 0 3px 3px #e5e5e5;-moz-box-shadow:0 3px 3px #e5e5e5;-webkit-box-shadow:0 3px 3px #e5e5e5;}
.query-result-list:hover{ box-shadow: 4px 4px 4px #e5e5e5;-moz-box-shadow:4px 4px 4px #e5e5e5;-webkit-box-shadow:4px 4px 4px #e5e5e5;}
.q-title{ line-height: 28px; }
.q-title a{color: #474e5d;text-decoration: none;}
.q-title,.q-progress,.q-info{ padding-left:10px;}
.q-progress{ padding-right:80px; height: 18px; position: relative; margin-top: 12px; margin-bottom: 12px;}
.q-progress-bar{ width: 100%; height: 8px; border-radius: 8px;-moz-border-radius:8px; -webkit-border-radius:8px; background: #dde3e5; line-height: 0;}
.q-progress-bar span{ width: 0; height: 8px; float: left;-moz-border-radius:8px; -webkit-border-radius:8px; background: #a5ca4d; line-height: 0;}
.q-em{ position: absolute;right:10px; top:-7px; width: 65px; height: 23px; background: url("i/s8.png"); overflow: hidden;line-height: 23px; text-indent: 10px;}

.ing{background-position: 0 0; color: #fff;}
.over{background-position: 0 -33px;}
.will{color: #999;background-position: 0 -66px;}

.q-info{ margin-left:5px; margin-right:5px;height: 49px;}
.q-info div{float: left;}
.q-info-1{ width:60px; }
.q-info-2{ width:96px; }
.q-info-3{ width:50px; }

.q-support{ height: 36px; background: #f6f7f8; line-height: 36px;text-align: right; width: 100%;}
.ml10{ margin-left: 10px;}
.mr10{ margin-right: 10px;}

/*add by zw 20151015*/
.module_item_title{
    font-weight: bold;
    font-size: 14px;
    padding-left: 35px;
    margin-bottom: 10px;
}
.module_con dl{
    padding-left: 70px;
}
.module_con dl dt{
    font-weight: normal;
}