@charset "utf-8";
/* CSS Document */

.zongTi{ width:100%; margin:0 auto; background-color:#f2f2f2;padding-bottom: 70px;}
.zongTi .header{text-align:center;}
.zongTi img{width:100%;}
.zongTi .header img{width: 100% !important;}
.zongTi .header .jinCheng{ font-size:24px; font-weight:bold; color:#ff7979; padding:5px 0;}
.zongTi .header .mingCheng{ font-size:18px; color:#404040; padding:5px 0;}
.ourXin{ background:#ff7979; height:100PX;}
.ourXin .xinLt{ width:46%; float:left; padding-left:10px;}
.ourXin .title{ font-size:16px; color:#fff; padding:20px 0 15px 0;}
.ourXin .times{ font-size:24px;}
.ourXin .title .times{ color:#000;}
.ourXin .xinRt .times{ color:#ffff66;}
.ourXin .xinRt{ width:46%; float:right; text-align:right; padding-right:10px;}
.content{ margin-top:15px; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; background:#fff;}
.content ul{ margin:0 auto;}
.content li{ padding:20px 5px; border-bottom:1px solid #e0e0e0;}
.content li div{ float:left;}
.content li .three{ float:right;}
.one img{ border-radius:5px;}
.two p{ font-size:14px; color:#ff7f00; line-height:36px; padding-left:15px;}
.two .shiJIan{ color:#1c1c1c;}
.three{ padding-top:18px;}
.three p{width: 40px ;
	height: 40px;
	line-height:40px;
	border-radius: 50% ;
	background: #ff7f00 ;
	color: #fff;
	font-weight: bold;

	text-align: center;}
.three .get_sec{
	background:green;
	font-size:14px;
	cursor:pointer;
}

.guiZe{ margin-top:15px; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; background:#fff; padding: 0px 2px 10px 10px;}
.guiZe h3{ font-size:16px; color:#ff7979; padding-left:25px; background:url(../images/1_04.png) no-repeat 1px 16px; padding-top:20px; padding-bottom:10px;}
.guiZe li{ line-height: 20px;padding-bottom: 8px; font-size:14px; color:#919191;}

.huodongLi{ margin-top:15px;}
.huodongLi .youHui{ width:50%; float:left; margin:4px 0px;}
.huodongLi .youHui a{
	-webkit-border-image: url("../images/border-line.png") 2 stretch;
	-moz-border-image: url("../images/border-line.png") 2 stretch;
	border-image: url("../images/border-line.png") 2 stretch;
	border-top: 2px solid #e5e5e5;
	border-right: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	border-left: 2px solid #e5e5e5;
	margin: 0 4px;
	color:#000;
}
.huodongLi .youHui p{ height:30px; line-height:30px; font-size:12px; padding-left:5px;}
.huodongLi .youHui .money{font-size:12px; color:#ff8c00; padding-right:5px;display:inline-block;}
.huodongLi .youHui .goods-buy{
	display:inline-block;
	float: right;
	margin-top:6px;
	margin-right: 3px;
}



.btn5,.btn6 {
	background-image: url("../images/showcase.png");
	width: 37px;
	height: 20px;
	right: 12px;
	bottom: 8px;
}
.btn5 {
background-position: 0 -68px;
}
.btn6 {
background-position: 0 -168px;
}


.footer{ margin-top:15px;}
.footer p{ width: 50%;float: left;height: 45px;line-height: 45px; text-align:center;font-size:16px;}
.footer p a{ color:#fff; display:block;width: 93%;margin:0 auto;}

.nav-menu {
border: 0px none;
cursor: default;
font-size: 0;
line-height: 0;
}
.shop-nav {
position: fixed;
z-index: 96;
}
.nav-menu-1, .nav-menu-2, .nav-menu-3 {
bottom: 0px;
left: 0px;
right: 0px;
height: 40px;
background: #eaeaea;
color: #eee;
text-align: center;
}
.nav-menu-1 {
border: 0px none;
-webkit-border-image: url("../images/nav_border.png") 2 stretch;
-moz-border-image: url("../images/nav_border.png") 2 stretch;
border-image: url("../images/nav_border.png") 2 stretch;
border-top: 2px solid #e5e5e5;
background: no-repeat #fafafa;
background-size: 100% 100px;
height: 50px;
margin:0 auto;
}
.js-footer {
background: #EEEEEE;
}
.show {
display: block;
width: 90%;
height: 39px;
border-radius: 8px;
color: #fff !important;
font-size: 16px;
text-align: center;
line-height: 39px;
margin: 4px auto;
}
.red {
background: red;
color: #fff;
}
.nav-menu a {
display: block;
height: 40px;
background-position: center center;
background-size: contain;
background-repeat: no-repeat;
}
.nav-menu-1 a {
display: block;
color: #333;
text-shadow: 0 0 2px #f5f5f5;
}

.share {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.7);
z-index: 9696969;
}



@media (min-width: 300px){
	.zongTi .header img{height: 178px;}
	.huodongLi .youHui img{height: 178px;}
	.huodongLi .youHui {
		max-height: 300px;
	}
}
@media (min-width: 375px){
	.huodongLi .youHui img{height: 188px;}
	.huodongLi .youHui {
		max-height: 250px;
	}
}
@media (min-width: 540px){
	.zongTi {
		width: 540px;
	}
	.js-footer{
		width: 540px;
	}
	.zongTi .header img{height: 188px;}
	.huodongLi .youHui {
		max-height: 253px;
		width: 190px;
	}
	.huodongLi .youHui .js-goods img{
		max-height: 176px;
	}
}
@media (min-width: 760px){
	.zongTi {
		width: 750px;
	}
	.js-footer{
		width: 750px;
	}
	.zongTi .header img{height: 188px;}
}
@media (min-width: 800px){
	.zongTi {
		width: 760px;
	}
	.js-footer{
		width: 760px;
	}
}